/*******************************
    Plan de masse : 
        01 - Style of NavBar


*******************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: monospace
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-thumb {
    background: rgba(12, 25, 204, 0.87);
    border-radius: 50px
}

#home {
    height: 100dvh;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50));
    background-size: cover;
    position: relative;
}


.titre {
    height: 4dvh;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: 'Poppins", sans-serif';
}


/*************************
    01 - Style of NavBar
*************************/

.navbar {
    position: fixed;
    height: 4dvh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    backdrop-filter: blur(8px);
    box-shadow: 0 20px 30px rgba(0, 0, 5, 0.5);
}

.chemin {
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-item a {
    margin: 0 20px;
    color: rgb(245, 244, 244);
    text-decoration: none;
    display: block;
    font-family: 'Poppins", sans-serif';
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #7c73a7;
    transition: all 0.4ms ease-in-out 0s;
}


/**************************
    02 - Style salutation
***************************/

.message {
    position: relative;
    padding-top: 1.5dvh;
    height: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 5dvw;
    padding-top: 35dvh;
}